<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="p04-protocol" value="../../../xnode/vendor/p04/packages" />
    <add key="p15-membership" value="../../../deep-client-shared/vendor/p15/packages" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="p04-protocol">
      <package pattern="Deep.Protocol" />
      <package pattern="Deep.Protocol.Abstractions" />
      <package pattern="Deep.Protocol.Protobuf" />
      <package pattern="Google.Protobuf" />
      <package pattern="Sodium.Core" />
      <package pattern="libsodium" />
    </packageSource>
    <packageSource key="p15-membership">
      <package pattern="Deep.Protocol.MembershipRoutes" />
    </packageSource>
  </packageSourceMapping>
</configuration>
