<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources><clear /><add key="local-pinned" value="packages" /></packageSources>
  <packageSourceMapping><packageSource key="local-pinned"><package pattern="Deep.Protocol" /><package pattern="Deep.Protocol.MembershipRoutes" /><package pattern="Sodium.*" /><package pattern="libsodium" /></packageSource></packageSourceMapping>
</configuration>
