DEEP_ROOT=..
DEEP_DEVOPS_DIR=../deep-devops
DEEP_STAKING_PORTAL_DIR=../xpoint-staking-portal
STAKING_PORTAL_COMMIT_HASH=unknown

NEXT_PUBLIC_SITE_URL=http://127.0.0.1:28183
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=replace_with_walletconnect_project_id
NEXT_PUBLIC_ENV_FLAG=prd
PROD_BROWSER_ARBITRUM_RPC_URL=/api/network/rpc/arbitrum

PROD_STAKING_PORTAL_BIND=28183
PROD_STAKING_BACKEND_BIND=28182
PROD_REGISTRY_BIND=28180

PROD_ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
PROD_ARBITRUM_FALLBACK_RPC_URLS=https://arb1.arbitrum.io/rpc

XPNT_TOKEN_ADDRESS=0x63B2cdb8B0d8774F1Fdca91D24803698582a079F
SERVICE_NODE_REWARDS_ADDRESS=0xc52284b7aBAebbEF7BdE0E1ca8251B44AeA12F5f
SERVICE_NODE_CONTRIBUTION_FACTORY_ADDRESS=0x289d88A8C06881634Fb619Ec528361C7b88521f1
REWARD_RATE_POOL_ADDRESS=0xEd894fb5f0BA3b141A562190D4c9941FEd348356
PROD_CONTRACT_START_BLOCK=476121260
STAKING_REQUIREMENT_ATOMIC=25000000000000

PRICE_ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
PRICE_ARBITRUM_FALLBACK_RPC_URLS=https://arb1.arbitrum.io/rpc
XPNT_UNISWAP_V3_POOL_ADDRESS=0x5d42A2b90867B813B753f5B49877Ea7c6bB2B603
XPNT_ARBITRUM_ONE_TOKEN_ADDRESS=0x63b2cdb8b0d8774f1fdca91d24803698582a079f
USDC_ARBITRUM_ONE_TOKEN_ADDRESS=0xaf88d065e77c8cc2239327c5edb3a432268e5831

PROD_INDEXER_POLL_MS=12000
PROD_INDEXER_CATCHUP_DELAY_MS=250
PROD_INDEXER_RPC_TIMEOUT_MS=30000
PROD_INDEXER_CONFIRMATIONS=20
PROD_INDEXER_BATCH_BLOCKS=5000
PROD_INDEXER_MAX_LOG_BLOCK_RANGE=5000
PROD_INDEXER_ALCHEMY_FAST_BACKFILL=false
