artifacts/*
!artifacts/.gitkeep
!artifacts/packages/
artifacts/packages/*
!artifacts/packages/survival-v2.0.0/
artifacts/packages/survival-v2.0.0/*
!artifacts/packages/survival-v2.0.0/.gitkeep
.env
.env.uat
.env.*.local
**/bin/
**/obj/
